body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.15rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-color-primary {
  color: #a23c33 !important;
}

.text-color-white {
  color: #ffffff !important;
}

.text-style-nunito {
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-style-raleway {
  font-family: Raleway, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-style-aclonica {
  font-family: Aclonica, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bg-color-primary {
  background-color: #cf5f55 !important;
}

.bg-color-secondary {
  background: rgba(162, 60, 51, 0.5) !important;
}

.bg-color-white {
  background-color: #ffffff !important;
}

.text-underline-on-hover:hover {
  text-decoration: underline;
}

.text-cursor-pointer-on-hover:hover {
  cursor: pointer;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Overwrite Bootstrap styles */
.dropdown-item.active {
  color: #2c2c2c !important;
  background-color: #ffffff !important;
}

dropdown-item:focus,
.dropdown-item:hover {
  background-color: #eeeeef !important;
}
