body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-color-primary {
  color: #a23c33;
}

#nav-logo {
  color: #a23c33;
  font-size: 2rem;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#nav-logo-slogan {
  color: #2c2c2c;
  font-size: 1rem;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 0.15rem;
}
a.nav-link {
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  padding-right: 2em !important;
}

a.nav-link.active {
  color: #a23c33 !important;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
}
