.text-color-primary {
  color: #a23c33;
}

#nav-logo {
  color: #a23c33;
  font-size: 2rem;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#nav-logo-slogan {
  color: #2c2c2c;
  font-size: 1rem;
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  padding-left: 0.15rem;
}
.nav-link {
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
}

a.nav-link.active {
  color: #a23c33 !important;
}
